/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 15, 2023, 5:59:23 PM
    Author     : AFRITHA
*/
/* button */
.bg-primary{
    background-color:#795644 !important;
}
.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color: #795644;
    color: #fff;
    border-color: #795644;
}

/* text color */
.text-primary{
    color:#795644!important;
}
/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: #795644;
    left: -20px;
   top: 50%;
    -webkit-transform: translateY(-50%);
   /*     -ms-transform: translateY(-50%);
            transform: translateY(-50%);*/
}

/* collection */
.active-filter-btn{
    background-color: #795644!important;
    color: #fff!important;
    border-color: #795644!important;
}
.filter-button-group .btn:hover{
    color: #fff!important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
